 .gridContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30rem;
    margin-bottom: 5rem;
    margin-left:1rem ;
   /*  grid-template-columns: repeat(3, 1fr); */
  }  